	@import url(https://fonts.googleapis.com/css?family=Roboto:300);

		.login-page {
		  margin: auto;
		  height:850px;
		}
		.form {
		  position: relative;
		  z-index: 1;
		  background: #292c30;
  		  margin: auto;
  		  margin-top: 15px;

		  color: #ffffff;
		  padding: 5px;
		  width: 98%;
		  height: 100%;
		  font-weight: bold;

		  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		}

		.pred {color:#ffaaaa}
		.pyellow {color:#ffffaa}
		.pgreen {color:#aaffaa}


		.form input {
		  font-family: "Roboto", sans-serif;
		  outline: 0;
		  background: #2c2f33;
		  width: 100%;
		  border: 1;
		  margin: 0 0 15px;
		  padding: 15px;
		  box-sizing: border-box;
		  font-size: 14px;
		  border-color: #7289da;
		  border-width: 2px; 
		  color: #ffffff;
		  border-left-width: 3px;
		  border-top-width: 3px;
		}

		.dotr {
 		 height: 25px;
 		 width: 25px;
		  background-color: #ff0000;
		  border-radius: 50%;
		  display: inline-block;
		}

		.doty {
 		 height: 25px;
 		 width: 25px;
		  background-color: #ffff00;
		  border-radius: 50%;
		  display: inline-block;
		}

		.dotg {
 		 height: 25px;
 		 width: 25px;
		  background-color: #00ff00;
		  border-radius: 50%;
		  display: inline-block;
		}


		#inputfield {
		  font-family: "Roboto", sans-serif;
		  outline: 0;
		  background: #2c2f33;
		  width: 100%;
		  border: 1;
		  margin: 0 0 15px;
		  padding: 15px;
		  box-sizing: border-box;
		  font-size: 14px;
		  border-color: #7289da;
		  border-width: 2px; 
		  color: #ffffff;
		  border-left-width: 3px;
		  border-top-width: 3px;
		}

		.form .message {
		  margin: 15px 0 0;
		  color: #b3b3b3;
		  font-size: 12px;
		}
		.form .message a {
		  color: #4CAF50;
		  text-decoration: none;
		}
		.form .register-form {
		  display: none;
		}
		.container {
		  position: relative;
		  z-index: 1;
		  max-width: 300px;
		  margin: 0 auto;
		}
		.container:before, .container:after {
		  content: "";
		  display: block;
		  clear: both;
		}
		.container .info {
		  margin: 50px auto;
		  text-align: center;
		}
		.container .info h1 {
		  margin: 0 0 15px;
		  padding: 0;
		  font-size: 36px;
		  font-weight: 300;
		  color: #1a1a1a;
		}
		.container .info span {
		  color: #4d4d4d;
		  font-size: 12px;
		}
		.container .info span a {
		  color: #000000;
		  text-decoration: none;
		}
		.container .info span .fa {
		  color: #EF3B3A;
		}

		.large {
			height:70px;
			font-size: 30px;
			padding-left: 25px;
			padding-top: 0px;
			font-weight: bold;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		.info-green {
			background-color: rgba(175, 255, 175, 0.35);
			padding: 5px;
			margin-left: 50px;
			border-width: 5px;
			border-color: rgba(0, 255, 0, 1.0);
			border-top: 0;
			border-right: 0;
			border-bottom: 0;
			border-style: solid;
			display: inline-block;
			color: #ffffff;
		}
		
		.info-yellow {
			background-color: rgba(255, 255, 175, 0.35);
			padding: 5px;
			margin-left: 50px;
			border-width: 5px;
			border-color: rgba(255, 255, 0, 1.0);
			border-top: 0;
			border-right: 0;
			border-bottom: 0;
			border-style: solid;
			display: inline-block;
			color: #ffffff;
		}

		.info-red {
			background-color: rgba(255, 175, 175, 0.35);
			padding: 5px;
			margin-left: 50px;
			border-width: 5px;
			border-color: rgba(255, 0, 0, 1.0);
			border-top: 0;
			border-right: 0;
			border-bottom: 0;
			border-style: solid;
			display: inline-block;
			color: #ffffff;
		}

		#loginbutton {
		    font-family: "Roboto", sans-serif;
		    text-transform: uppercase;
		    outline: 0;
		    background: #7289da;
		    width: 100%;
		    border: 0;
		    padding: 15px;
		    color: #FFFFFF;
		    font-size: 14px;
		    -webkit-transition: all 0.3 ease;
		    transition: all 0.3 ease;
		    cursor: pointer;
		}

		.TitleText {
			text-align: right;
			color: white;
			font-weight: bold;
			font-family: "Roboto", sans-serif;
			font-size: 25px;
		}

		.loadContainer {
			align-content: center;
			width: 100%;
			height: 100%;
			margin: auto;
			padding-top: 120px;

		}

		.loader {
		  border: 4px solid #2c2f33;
		  border-radius: 50%;
		  border-top: 4px solid #ffffff;
		  width: 120px;
		  height: 120px;
		  -webkit-animation: spin 2s linear infinite; /* Safari */
		  animation: spin 1s linear infinite;
		  align-content: center;
		  margin: auto;
		  position: absolute;
		  top: 50%;
		  left: 50%;

		  margin: -60px 0 0 -120px;
		}

		.loadertext {
		  width: 240px;
		  height: 120px;
		  align-content: center;
		  margin: auto;
		  position: absolute;
		  top: 50%;
		  left: 50%;

		  margin: 120px 0 0 -150px;
		}

		.modal {
		  width: 500px;
		  background: #23272a;
		  box-shadow: 
		    -2rem 2rem 2rem rgba(black, 0.2);
		  filter: blur(0);
		  transform: scale(1);  
		  opacity: 1;
		  visibility: visible;
		  min-height: 300px;
		  margin: auto;
		  margin-top: 100px;
		  text-align: center;
		  padding: 20px;
		  font-size: 18px;
		  color: white;

		}

		/* Safari */
		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}

		body {
		  background: #23272a; /* fallback for old browsers */
		  font-family: "Roboto", sans-serif;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;     
		  align-content: center; 
		}